DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

ADMIN_EMAIL="rashidshibib5@gmail.com"
ADMIN_PASSWORD="rashid123456"
ADMIN_SESSION_SECRET="ADMIN_SESSION_SECRET=kutubi-super-secret-admin-session-key-2026"

RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

PAYPAL_ENV="sandbox"
NEXT_PUBLIC_PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
NEXT_PUBLIC_PAYPAL_CURRENCY="USD"
